/* icon color */
#box1 .icon{
    color: rgba(0, 229, 255, 0.838);
    font-size: 3rem;
}
#box2 .icon{
    color: orange;
    font-size: 3rem;
}
#box3 .icon{
    color:#20c997;
    font-size: 3rem;
}
#box4 .icon{
    color: #df1529;
    font-size: 3rem;
}
#box5 .icon{
    color:rgb(102, 16, 242);
    font-size: 3rem;
}
#box6 .icon{
    color: rgb(243, 38, 140);
    font-size: 3rem;
}
#box7 .icon{
    color: #20c997;
    font-size: 3rem;
}
#box8 .icon{
    color: #1ec4da;
    font-size: 3rem;
}
#box9 .icon{
    color: orange;
    font-size: 3rem;
}
#box10 .icon{
    color: rgb(55, 55, 225);
    font-size: 3rem;
}
/* h4 read me  elements color */

#box1 h4{
    color: rgba(0, 229, 255, 0.838);
}

#box2 h4{
    color: orange;
}

#box3 h4{
    color: #20c997;
}
#box4 h4{
    color: #df1529;
}
#box5 h4{
    color: rgb(102, 16, 242);
}
#box6 h4{
    color: rgb(243, 38, 140);
}

/* card text color */
#box1 .card-text{
    color: gray;
}
#box2 .card-text{
    color: gray;
}

#box3 .card-text{
    color: gray;
}

#box4 .card-text{
    color: gray;
}

#box5 .card-text{
    color: gray;
}
#box6 .card-text{
    color: gray;
}
/* background color while hover */
#box1:hover{
    background-color: rgba(0, 229, 255, 0.838);
    color: #fff;
}
#box2:hover{
    background-color:orange;
    color: #fff;
}
#box3:hover{
    background-color:#20c997;
    color: #fff;
}
#box4:hover{
    background-color: #df1529;
    color: #fff;
}
#box5:hover{
    background-color: #6610f2;
    color: #fff;
}
#box6:hover{
    background-color: rgb(243, 38, 140);
    color: #fff;
}

/* after hover text color should be white */
#box1:hover .icon,.card:hover .card-text,.card:hover p, #box1:hover h4 {
    color: #ffffff;

}
#box2:hover .icon,.card:hover .card-text,.card:hover p, #box2:hover h4 {
    color: #ffffff;

}
#box3:hover .icon,.card:hover .card-text,.card:hover p,#box3:hover h4 {
    color: #ffffff;

}
#box4:hover .icon,.card:hover .card-text,.card:hover p,#box4:hover h4 {
    color: #ffffff;

}
#box5:hover .icon,.card:hover .card-text,.card:hover p,#box5:hover h4 {
    color: #ffffff;

}
#box6:hover .icon,.card:hover .card-text,.card:hover p,#box6:hover h4 {
    color: #ffffff;

}


/* on hover card h5 color changing */
.card:hover h5{
    color: #fff;
}
button{
    text-align: center;
    padding: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
    margin: auto;
}


#box1-title{
    color: rgb(16, 13, 123);
}
 
a{
    list-style: none;
    text-decoration: none;
    
}
.price li{

    padding: 2px;
    margin-bottom: 20px;
}
.price{
    font-size: 30px;
   color: #3f1188;
    font-family: sans-serif;
    font-weight: 600;
}
.price sup{
    font-size: 20x;
    top: -15px;
    left: -3px;
}
 .featured{
    position: absolute;
    top: 18px;
    right: -68px; 
    font-size: 14px;
    width: 200px;
    z-index: 1;
    padding: 1px;
    transform: rotate(45deg);
    color: #fffefe;
    background-color: #1b10f2;
    
 }



